.search-results {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #4a001f;
  border: 3px solid #2e0219;
  flex: 1;
}
.result-details {
  width: 50%;
  color: #dababa;
}

.details-container {
  position: absolute;
  bottom: 0;
  z-index: 3;
  border: 5px solid black;
  background-image: linear-gradient(45deg, #d7d7d7 0%, #74354f 100%);
}

@media only screen and (min-width: 640px) {
  .search-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

  .result {
    width: 100%;
    border: 3px solid #2e0219;
  }

  .it-is-me {
    width: 48%;
    height: 711px;
    padding: 20px;
  }
}
