<app-header class="header" (inputEvent)="search($event)"></app-header>
<section class="search-results">
  <div class="it-is-me" *ngFor="let slide of movies">
    <div class="result">
      <div class="details-container info" *ngIf="showId === slide.id">
        <div class="backdrop">
          <img
            src="https://image.tmdb.org/t/p/w185/{{ slide.backdrop_path }}"
            alt=""
          />
        </div>
        <div>
          <h2 class="title">Title: {{ slide.title }}</h2>
          <p class="summary">Summary</p>
          <p class="overview">{{ slide.overview }}</p>
          <p class="rating">Rating: {{ slide.vote_average }}</p>
          <p class="release-date">Release Date: {{ slide.release_date }}</p>
        </div>
        <button class="btn" (click)="toggleShowId(slide.id)">
          Close Details
        </button>
      </div>

      <img src="{{ slide.image }}" alt="movie poster" />

      <div>
        <button
          class="fa fa-film"
          aria-hidden="true"
          (click)="sendToWatchList(slide)"
        ></button
        ><button class="btn" (click)="toggleShowId(slide.id)">Details</button>
      </div>
      <div class="result-details">
        <p>{{ slide.title }}</p>
        <p>{{ slide.overview }}</p>
      </div>
    </div>
  </div>
</section>
